CamaraComercio.Website/Service References/WSShareBase/OnlineChamberService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Model.ShareBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Model.ShareBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DocumentData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Base64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentData" nillable="true" type="tns:DocumentData" />
</xs:schema>