CamaraComercio.Website/Web References/wsONAPI/servicioCC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.onapi.gob/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.onapi.gob/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.onapi.gob/">
      <s:element name="BuscarNombresComerciales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarNombresComercialesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarNombresComercialesResult" type="tns:ArrayOfResultadoBusquedaNombre" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResultadoBusquedaNombre">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultadoBusquedaNombre" nillable="true" type="tns:ResultadoBusquedaNombre" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultadoBusquedaNombre">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Texto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expedicion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Titular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gestor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Actividad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Vencimiento" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarNombrePorNumero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarNombrePorNumeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarNombrePorNumeroResult" type="tns:ResultadoBusquedaNombre" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarNombresComercialesSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarNombresComerciales" />
  </wsdl:message>
  <wsdl:message name="BuscarNombresComercialesSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarNombresComercialesResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarNombrePorNumeroSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarNombrePorNumero" />
  </wsdl:message>
  <wsdl:message name="BuscarNombrePorNumeroSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarNombrePorNumeroResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioCCSoap">
    <wsdl:operation name="BuscarNombresComerciales">
      <wsdl:input message="tns:BuscarNombresComercialesSoapIn" />
      <wsdl:output message="tns:BuscarNombresComercialesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarNombrePorNumero">
      <wsdl:input message="tns:BuscarNombrePorNumeroSoapIn" />
      <wsdl:output message="tns:BuscarNombrePorNumeroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioCCSoap" type="tns:ServicioCCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarNombresComerciales">
      <soap:operation soapAction="http://www.onapi.gob/BuscarNombresComerciales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNombrePorNumero">
      <soap:operation soapAction="http://www.onapi.gob/BuscarNombrePorNumero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioCCSoap12" type="tns:ServicioCCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarNombresComerciales">
      <soap12:operation soapAction="http://www.onapi.gob/BuscarNombresComerciales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarNombrePorNumero">
      <soap12:operation soapAction="http://www.onapi.gob/BuscarNombrePorNumero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCC">
    <wsdl:port name="ServicioCCSoap" binding="tns:ServicioCCSoap">
      <soap:address location="http://192.168.1.68/cte/servicioCC.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioCCSoap12" binding="tns:ServicioCCSoap12">
      <soap12:address location="http://192.168.1.68/cte/servicioCC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>