ServEnLineaCorreosTransa_Branch/CamaraComercio.Website/Service References/WSShareBase/OnlineChamberService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://www.novosit.com/Services" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlineChamberService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://www.novosit.com/Services" location="http://10.10.80.12:8083/OnlineChamberService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Model" />
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Common.Model.ShareBase" />
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Boundaries.DigitalSignatureVerification" />
      <xsd:import schemaLocation="http://10.10.80.12:8083/OnlineChamberService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Boundaries.DigitalSignatureVerification.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineChamberService_CreateFolderOnSharebase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderOnSharebase" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_CreateFolderOnSharebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFolderOnSharebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_CreateDocumentOnSharebase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentOnSharebase" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_CreateDocumentOnSharebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentOnSharebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_DeleteFolderOnSharebase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderOnSharebase" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_DeleteFolderOnSharebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFolderOnSharebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_DeleteDocumentOnSharebase_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentOnSharebase" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_DeleteDocumentOnSharebase_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentOnSharebaseResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_AperturarCasoOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:AperturarCasoOnline" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_AperturarCasoOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:AperturarCasoOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_ValidateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDocument" />
  </wsdl:message>
  <wsdl:message name="IOnlineChamberService_ValidateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnlineChamberService">
    <wsdl:operation name="CreateFolderOnSharebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/CreateFolderOnSharebase" message="tns:IOnlineChamberService_CreateFolderOnSharebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/CreateFolderOnSharebaseResponse" message="tns:IOnlineChamberService_CreateFolderOnSharebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentOnSharebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/CreateDocumentOnSharebase" message="tns:IOnlineChamberService_CreateDocumentOnSharebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/CreateDocumentOnSharebaseResponse" message="tns:IOnlineChamberService_CreateDocumentOnSharebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolderOnSharebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/DeleteFolderOnSharebase" message="tns:IOnlineChamberService_DeleteFolderOnSharebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/DeleteFolderOnSharebaseResponse" message="tns:IOnlineChamberService_DeleteFolderOnSharebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentOnSharebase">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/DeleteDocumentOnSharebase" message="tns:IOnlineChamberService_DeleteDocumentOnSharebase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/DeleteDocumentOnSharebaseResponse" message="tns:IOnlineChamberService_DeleteDocumentOnSharebase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AperturarCasoOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/AperturarCasoOnline" message="tns:IOnlineChamberService_AperturarCasoOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/AperturarCasoOnlineResponse" message="tns:IOnlineChamberService_AperturarCasoOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineChamberService/ValidateDocument" message="tns:IOnlineChamberService_ValidateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineChamberService/ValidateDocumentResponse" message="tns:IOnlineChamberService_ValidateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="OnlineChamberService">
    <wsdl:port name="BasicHttpBinding_IOnlineChamberService" binding="i0:BasicHttpBinding_IOnlineChamberService">
      <soap:address location="http://10.10.80.12:8083/OnlineChamberService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>